venv
.venv
.vscode
.idea
skip_50d.txt
fase_3/machine_learning/auto_ml/AutogluonModels
fase_4/Visao_Computacional/7.Segmentação_Semantica/Segmentacao_Semantica/datasets/CamVid
fase_4/Visao_Computacional/8.Detecção_de_Objetos_Yolov9/Deteccao_Yolov9_Pre_Treinado/Deteccao_Yolov9_PT/yolov9
fase_4/Visao_Computacional/8.Detecção_de_Objetos_Yolov9/Deteccao_Yolov9_Pre_Treinado/Deteccao_Yolov9_PT/yolov9-c.pt
fase_4/Visao_Computacional/8.Detecção_de_Objetos_Yolov9/Deteccao_Yolov9_Pre_Treinado/Deteccao_Yolov9_PT/yolov9-e.pt
fase_4/Visao_Computacional/8.Detecção_de_Objetos_Yolov9/Deteccao_Yolov9_Custom/Deteccao_Yolov9_Custom/yolov9